* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

body {
  max-width: max(600px, 60%);
  margin-inline: auto;
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 10px;
  background: #1d1d1d;
}

body>* {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#search-bar {
  width: 100%;
  height: 44px;
  padding: 10px 15px;
  margin-bottom: 10px;
  background: #252525;
  color: #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #0004, inset 0px 0px 5px #4442;
}

#task-list {
  padding-bottom: 100px;
  list-style: none;
}

.task-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #252525;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #0004, inset 0px 0px 5px #4442;
  overflow: hidden;
}

.task-item::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background: currentColor;
}

.task-item:focus-within {
  outline: 2px solid #A7C7E7;
  animation: active-border .2s cubic-bezier(1, 0, 0, 1);
}

@keyframes active-border {
  0% {
    outline-width: 0px;
  }

  100% {
    outline-width: 2px;
  }
}

.task-item:focus-within::after {
  background: #A7C7E7;
}

.task-item.ghost {
  opacity: .4;
}

.task-item.choose:not(.ghost) {
  width: 40% !important;

  & .task-label {
    max-width: calc(100% - 44px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.task-item.hidden {
  display: none;
}

.task-label {
  flex: 1;
  margin-left: 10px;
  text-decoration: none;
}

.task-done {
  display: none;
}

.task-done+label {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.task-done:checked+label {
  border-color: #999;
}

.task-done:checked+label::before {
  content: '';
  width: 60%;
  height: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #999;
  border-radius: 50%;
  animation: fade-in .5s forwards;
}

.task-done:checked+label+.task-label {
  color: #777;
  text-decoration: line-through;
  font-style: italic;
}

.task-label {
  color: #ddd;
  display: block;
  padding: 4px;
  outline: none;
}

.task-label br {
  display: none;
}

#trash {
  position: fixed;
  left: 0;
  top: 0;
  width: 15px;
  height: 100vh;
  transform: translateX(-50%);
  background: #d55;
  animation: fade-in .4s cubic-bezier(0.47, 0, 0.745, 0.715);
}

#trash:not(.visible) {
  display: none;
}

#trash>* {
  display: none;
}

.float-action-button {
  z-index: 5;
  width: 3rem;
  height: 3rem;
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  background: #ddd;
  color: #333;
  font-size: 2rem;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #0004;
}

.float-action-button:active {
  background: #777;
}

.color-pick {
  width: 30px;
  height: 30px;
  background: currentColor;
  position: fixed;
  left: 50%;
  bottom: 10px;
  border: 1px solid #222;
  border-radius: 50%;
  --angle: var(--idx);
  --time: calc((var(--idx) + 1) / 6 * .05);
  animation: fade-in .2s forwards, translate-x calc(var(--time) * .2s) forwards;
}

*[data-color="gray"] {
  color: #777 !important;
}

*[data-color="blue"] {
  color: #08f !important;
}

*[data-color="green"] {
  color: #0d8 !important;
}

*[data-color="orange"] {
  color: #fa0 !important;
}

*[data-color="red"] {
  color: #f56 !important;
}

@keyframes translate-x {
  0% {
    transform: translateY(-1.5rem) translate(-50%, 50%) rotate(0deg) translateX(0);
  }

  100% {
    transform: translateY(-1.5rem) translate(-50%, 50%) rotate(calc(var(--angle) * -1deg)) translateX(3rem);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
